/* works */
.l-works{
  background-color: #fff;
  padding: 64px 30px;
  //margin: 0 auto;
  @include media(pc_min){
    padding-bottom: 64px;
    padding-left:calc(calc(100% - 1024px) / 2);
    padding-right:calc(calc(100% - 1024px) / 2);
    padding-top: 64px;
  }

  @include media(sp-tab){
    padding-bottom: 64px;
    padding-left:calc(calc(100% - 425px) / 2);
    padding-right:calc(calc(100% - 425px) / 2);
    padding-top: 64px;
  }
}
