/* footer */
.p-footer{
  color: #fff;
  font-size: 1.6rem;
  text-align: center;

  &__e-mail{
    font-size: 1.2rem;
    font-style: normal;
    margin-top: 40px;
  }

  &__copy{
    font-size: 1.2rem;
    margin-top: 40px;
    opacity: 0.5;
  }
}
