/* modal component */
.c-modal {
  &.-flex {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    width: 49%;
  }

  @include media(tab) {
    &.-flex {
      display: block;
    }

    &__item {
      flex-grow: 1;
      width: 100%;

      &:last-child {
        margin-top: 1rem;
      }
    }
  }

  &__imageBox {
    height: 70vh;
    overflow: scroll;

    @include media(tab) {
      height: 40vh;
    }
  }

  &__image {
    &.-sp {
      width: 100%;
    }
  }
}
