/* modal component */
.c-modal {
  &.-flex {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    width: 49%;

    & .item {
      font-size: 1.2rem;

      @include media(pc_big) {
        font-size: 1.6rem !important;
      }

      @include media(pc_mid) {
        font-size: 1.4rem !important;
      }
    }

    & .tab {
      font-size: 1.1rem !important;

      @include media(pc_big) {
        font-size: 1.6rem !important;
      }

      @include media(pc_mid) {
        font-size: 1.4rem !important;
      }

      @include media(pc_min) {
        font-size: 1.2rem !important;
      }
    }
  }

  @include media(tab) {
    &.-flex {
      display: block;
    }

    &__item {
      flex-grow: 1;
      width: 100%;

      &:last-child {
        margin-top: 1rem;
      }
    }
  }

  &__imageBox {
    height: 70vh;
    overflow: scroll;

    @include media(tab) {
      height: 40vh;
    }
  }

  &__image {
    &.-sp {
      width: 100%;
    }
  }
}
